<div class="form-inline">
  <div class="form-group mb-2">
    <input type="text" class="form-control mr-2" placeholder="Buscar por tema" 
    [(ngModel)]="filtroLista"
    >
  </div>
</div>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th><button class="btn btn-outline-primary" (click)="alternarImagem()">Mostrar Imagem</button></th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    
    <tr *ngFor="let evento of eventosFiltrados">
      <td><img *ngIf="mostrarImagem"
          src="https://localhost:7898/img/{{evento.imagemURL}}" 
          [style.width.px]="imagemLargura" 
          [style.margin.px]="imagemMargem">
      </td>
      <td>{{evento.eventoId}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento}}</td>
      <td>{{evento.quantidade}}</td>
      <td>{{evento.lote | uppercase}}</td>
      <td>
        <button class="btn btn-success">EDITAR</button>
        <button class="btn btn-danger">EXCLUIR</button> 
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos">
    <tr>
      <td colspan="6" class="text-center">
        <h4>Nenhum Evento Encontrado</h4>
      </td>
    </tr>
  </tfoot>
</table>